:root {
  --primary-state: #4d5ae5;
  --secondary-state: #404bbf;
  --slate: #434455;
  --navyblue: #2e2f42;
  --white: #ffffff;
  --cloud: #f4f4fd;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin-top: 0;
  margin-bottom: 0;
}

ul,
ol {
  margin-top: 0;
  margin-bottom: 0;
  padding-left: 0;
}

body {
  font-family: Roboto, sans-serif;
  background-color: var(--white);
  color: var(--slate);
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.container {
  max-width: 1158px;
  width: 100%;
  padding-right: 15px;
  padding-left: 15px;
  margin: 0 auto;
  outline: 2px solid red;
}

.list {
  list-style: none;
}

.link {
  text-decoration: none;
}

.header {
  padding: 24px 0;
}

.logo {
  font-size: 18px;
  font-family: Raleway, sans-serif;
  font-weight: 800;
  line-height: 1.17;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: var(--primary-state);
}

.logo-studio {
  color: var(--navyblue);
}

.header .container {
  display: flex;
}

.header-nav {
  display: flex;
  align-items: center;
  margin-right: auto;
}

.menu-list {
  display: flex;
  gap: 40px;
  margin-left: 76px;
}

.address-list {
  display: flex;
  gap: 40px;
}

.menu-item {
  font-size: 16px;
  font-weight: 500;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: var(--navyblue);
}

.menu-item:hover,
.menu-item:focus {
  color: var(--secondary-state);
}

.address-link {
  font-style: normal;
}

.link-address {
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  font-style: normal;
  color: inherit;
}

.link-address:hover,
.link-address:focus {
  color: var(--secondary-state);
}

.main-section {
  background-color: var(--navyblue);
}

.main-section .container {
}

.main-title {
  color: var(--white);
  text-align: center;
  font-size: 56px;
  font-weight: 700;
  line-height: 1.07;
  letter-spacing: 0.02em;
}

.main-button {
  color: var(--white);
  font-size: 16px;
  font-weight: 500;
  line-height: 1.5;
  letter-spacing: 0.04em;
  background-color: var(--primary-state);
  cursor: pointer;
}

.main-button:hover,
.main-button:focus {
  background-color: var(--secondary-state);
}

.third-title {
  font-size: 20px;
  font-weight: 500;
  line-height: 1.2;
  letter-spacing: 0.02em;
  color: var(--navyblue);
}

.description {
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: var(--slate);
}

.second-title {
  color: var(--navyblue);
  text-align: center;
  font-size: 36px;
  font-weight: 700;
  line-height: 1.11;
  letter-spacing: 0.02em;
  text-transform: capitalize;
}

.team-section {
  background-color: var(--cloud);
}

.team-card {
  background-color: var(--white);
}

.button-filter {
  font-size: 16px;
  font-weight: 500;
  line-height: 1.5;
  letter-spacing: 0.04em;
  color: var(--primary-state);
  background-color: var(--cloud);
  cursor: pointer;
}

.button-filter:hover,
.button-filter:focus {
  color: var(--white);
  background-color: #404bbf;
}

.footer-section {
  background-color: var(--navyblue);
}

.footer-logo {
  font-size: 18px;
  font-family: Raleway, sans-serif;
  font-weight: 800;
  line-height: 1.17;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: var(--primary-state);
}

.footer-logo-studio {
  color: var(--cloud);
}

.footer-text {
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: var(--cloud);
}
